#list_comp{
    display: inline;
    padding: 10px;
    color: antiquewhite;
  
   
}

#all_list li{
    display: inline;
    padding-right: 20px;
}
.name-container1{
    margin-top: 5px;
}
.comp_divider{
    margin-bottom: 20px;
    border-radius: 20px; width: 40rem;
     color: antiquewhite;
}
#sql-query{
    z-index: 10;
    position: absolute; 
    display: none;
    left: 30%;
    top:30%;
    background-color: rgb(77, 44, 4);
    width: 50%;
}
.query-cross{
    position: relative;
    top: 0;
    right: 0;
    display: block;
}
#start-q-list{
    list-style-type:none
}
#sql-t{
    margin: 20px;

}

tr th {
    padding-right: 30px;}
