{%extends 'index.html'%} 
{% block title%}
Soccer_information
{%endblock%}
{%block content%}
<div class = "competition_main h-100">
    <div class = "comp-main h-100" style=
    "background-color: black;
     ">
      <div class=" container-fluid h-100 justify-content-center"
      style="padding: 10px;  
             background: linear-gradient(rgb(255 255 255 / 52%) 0%,rgb(0, 0, 0) 100%);">
              <div class = "name-start" style="width:100%; max-width: 900px;">
                <div class="name-container d-flex flex-column"
                style="color:white; background-color: rgb(0, 0, 0);  row-gap: normal; border-radius: 8px;
                ">
                 <ul class="list-group d-flex flex-column m-auto row g-0 bg-transparent" id="comp_name" >

                 </ul>
                    

                </div>
            
            
            </div>

    </div>
    </div>

</div>



{%endblock%}