{%extends 'index.html'%} 
{% block title%}
Soccer_information
{%endblock%}
{%block content%}

<div class = "games1 h-100">
  <button onclick="goBack()">Go Back</button>
    <div class = "games2 h-100" style=
    "background-color: black;
     ">
      <div class=" container-fluid h-100 justify-content-center align-items: center"
      style="padding: 100px;  
             background: linear-gradient(rgb(255 255 255 / 52%) 0%,rgb(0, 0, 0) 100%);">
              <div class = "name-start" style="width:100% justify-content-center align-items-center;">
                <div class="name-container d-flex flex-column justify-content-center align-items: center"
                style="color:white; background-color: rgb(0, 0, 0);  row-gap: normal; border-radius: 8px;
                ">
                 <ul class="list-group d-flex flex-column m-auto row g-0 bg-transparent" id="comp_name" >
                    Home Team | Score | Away Team
                    {% for game in all_games %}
                        <li class="list-group-item bg-transparent" style="color: white">
                            {{game}}
                        </li>
                    {% endfor %}
                 </ul>
                </div>
              </div>
      </div>
    </div>
</div>



{%endblock%}