{%extends 'index.html'%} 
{% block title%}
Soccer_information
{%endblock%}
{%block content%}

<div class = "plaeyrs1 h-100">
    <button onclick="goBack()">Go Back</button>
    <!-- Dropdown to select the attribute -->
    <label for="attributeDropdown">Filter players by:</label>
    <select id="attributeDropdown">
        <option value="competition">Competition</option>
        <option value="team">Team</option>
        <option value="position">Position</option>
    </select>

    <!-- Dropdown to display the values based on the selected attribute -->
    <label for="valueDropdown">Select value:</label>
    <select id="valueDropdown">
        <!-- This dropdown will be populated dynamically based on the selected attribute -->
        <!-- Options will be added using JavaScript -->
    </select>
    <button onclick="filterPlayers()">Filter</button>
    <label>(Content is not currently filtered)</label>


    <div class = "games2 h-100" style=
    "background-color: black;
     ">
      <div class=" container-fluid h-100 justify-content-center align-items: center"
      style="padding: 100px;  
             background: linear-gradient(rgb(255 255 255 / 52%) 0%,rgb(0, 0, 0) 100%);">
              <div class = "name-start" style="width:100% justify-content-center align-items-center;">
                <div class="name-container d-flex flex-column justify-content-center align-items: center"
                style="color:white; background-color: rgb(0, 0, 0);  row-gap: normal; border-radius: 8px;
                ">
                <ul class="list-group d-flex flex-column m-auto row g-0 bg-transparent">
                    {% for player in all_players %}
                    <li class="list-group-item bg-transparent" style="color: white">
                        <button class="player-button" style="border-radius: 20px; width: 17rem; cursor: pointer;" onclick="get_playerstats(this)">
                            {{ player }}
                        </button>
                    </li>
                    {% endfor %}
                </ul>
                </div>
              </div>
      </div>
    </div>
</div>



{%endblock%}